---
layout: default
title: Guides
---

<div class="container">
  <div class="row">
    {% for post in site.posts %}
      {% if post.path contains 'guides' %}
      <div class="col-sm-12 col-lg-4 m-2 px-0">
          <a href="{{ post.url }}">
            <div class="thumbnail-container">
              <img src="./assets/images/{{ post.thumbnail }}" class="img-thumbnail p-0" alt=""/>
              <div class="thumbnail-description"><p class="thumbnail-text">{{ post.title }}</p></div>
            </div>
        <!--<p>{{ post.date | date_to_long_string }}</p>-->
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
