---
layout: default
title: Home
---

<div class="container">
  <div class="row">
    {% for post in site.posts %}
      {% if post.path contains 'projects' %}
      <div class="col-sm-12 col-lg-4 p-5">
          <div class="project-name">
            <p>{{ post.title }}</p>
            {% if post.personal %}
            <p class="project-label">Personal Project</p>
            {% endif %}
          </div>
          {{ post.description }}
          {% assign content = post.content | strip_newlines %}
          {% if content != "" %}
          <div style="text-align:right;">
            <a href="{{ post.url }}" style="color:#000;"> Read More </a>
          </div>
          {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
