---
layout: about
title: About
---

<div class="about">
	<h2>Nicole Peternel</h2>
	<ul>
		<li>Education</li>
		<ul>
			<li>B.S. Electrical Engineering and Computer Science, May 2018</li>
			<li>University of California, Berkeley</li>
			<li>Related Coursework</li>
			<ul>
				<li>Data Structures</li>
				<li>Artifical Intelligence</li>
				<li>User Interface and Design</li>
				<li>Machine Structures</li>
				<li>Designing Information Devices and Systems</li>
			</ul>
			<li>Honors</li>
			<ul>
				<li>Regents' and Chancellor's Scholarship</li>
				<li>California Alumni Association Leadership Award</li>
			</ul>
		</ul>
	<li>Projects</li>
	</ul>
</div>