<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
</head>