<header>
  <div id="site-title">
    <a id="site-title-link" href="{{ site.baseurl/ }}/index.html"><h1>{{ site.title }}</h1></a>
  </div>
  {% include icons.html %}
	<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="nav navbar-nav m-auto">
        <a {% if page.url == "/" %}class="nav-link current"{% else %}class="nav-link"{% endif %} href="{{ site.baseurl }}/index.html">BLOG POSTS</a>
        <a  {% if page.url == "/about.html" %}class="nav-link current"{% else %}class="nav-link"{% endif %} href="{{ site.baseurl }}/about.html">ABOUT ME</a><!--
        <li><a href="archive.html">Blog Archive</a></li>
        <li><a href="gallery.html">Photo Gallery</a></li>-->
      </div>
    </div>
  </nav>
</header>