// breakpoints.
$bp-xs: 576px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;

body {
    color: #3a3d42;
    font-family: 'Gothic A1', sans-serif;
}

#site-title {
    text-align: center;
    margin-top: 20px;
}

.navbar-light .navbar-nav .nav-link, #site-title-link, .thumbnail-text {
    color: #3a3d42;
    font-family: 'Gothic A1', sans-serif;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .current {
    color: #3e4042;
    text-decoration: underline;
}
.img-thumbnail {
    border: none;
    border-radius: 0px;
}

.thumbnail-description {
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .4s;
    background-color: white;
    position: absolute;
    text-align: center;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 101%;
    height: 101%;
    display: table;
}

.thumbnail-description:hover {
    opacity: 0.7;
}

.thumbnail-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    @media (max-width: $bp-md) {
        font-size: 3em;
  }
}

.banner {
    background-size: cover;
    height: 380px;
    left: 0;
    position: absolute;
    top: 0;
    background-position:0;
    width: 50%;
}

.post h1, h2 {
    text-align: center;
}

#icons {
    text-align: center;
}

.fa {
    font-size: 2em;
    margin: auto 0.5em;
}

.fa:hover {
    text-decoration: none;
}

#profile {
    width: 4em;
    height: 4em;
}