body {
	font-family: Roboto condensed;
	height: 100%;
	font-size: 16px;
}

a {
	color: #e67300;
}

h1 {
	text-align: center;
}

h4 {
	text-align: center;
}

a:hover {
	color: #ff9933;
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

.navbar-custom {
	background: #f1f1f1;
	font-size: 15px;
}

.navbar-custom .navbar-toggle .icon-bar {
	background-color: #e67300;
}

.banner h1 {
	text-align: center;
}

.banner p {
	text-align: center;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.triple {
	width: 50%;
	margin-top: 8px;
	margin-bottom: 8px;
}

img + em {
	text-align: center;
	display: block;
	font-size: 12px;
}

.thumbnail {
	position: relative;
	width: 100%;
}
.thumbnail img {
	
}

.thumbnail h3 {
	position: absolute;
	text-align: center;
	top: 100px;
	width: 100%;
	color: white;
	font-size: 60px;
}

.thumbnail p {
	position: absolute;
	text-align: center;
	top: 160px;
	width: 100%;
	color: white;
	font-size: 20px;
}

.more {
	text-align: center;
	width: 100%;
}

.about {
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
	text-align: center;
	width: 400px;
}

.about p {
	margin-top: 5px;
}

.about .panel-group {
	width: 400px;
	margin: 0 auto;
}

.about .panel > .panel-heading {
	background-color: #818181;
	color: white;
}

.about .panel .panel-heading .panel-title a:hover {
	color: #e6e6e6;
}

#profile {
	border-radius: 50%;
	width: 100px;
	margin: 0 auto;
}

.gallery {
	width: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#wrap p {
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
}

#wrap h2 {
	text-align: center;
}

#push,
#footer {
	height: 60px;
}


#footer {
	display: block;
	text-align: center;
	font-size: 30px;
}

#footer a {
	text-decoration: none;
	padding: 0 10px;
}

#footer a:hover {
	color: #ff9933;
}