<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <script src="https://unpkg.com/vanilla-back-to-top@7.1.14/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 56,
  backgroundColor: '#f4a433',
  textColor: '#fff'
})</script>

    <div class="post container justify-content-center col-lg-6">

    {% include header.html %}
    <div class="text-center">
    </div>
    {% assign parent = page.path | split:"/" | slice: 1 | join %}
    <a href="{{ site.url }}/{% if parent == "projects" %}index{% else %}{{ parent }}{% endif %}.html">Back to {{ parent | capitalize }}</a>
    <img src="{{ site.url }}/assets/images/{{ page.thumbnail }}" alt="" class="img-fluid">
    <h1>{{ page.title }}</h1>
    <h4 style="text-align: center;">{{ page.description }}</h4>
    {{ content }}

    {% include scripts.html %}

    <div id="push">
    </div>
    </div>


  </body>

</html>
