<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <script src="https://unpkg.com/vanilla-back-to-top@7.1.14/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 56,
  backgroundColor: '#f4a433',
  textColor: '#fff'
})</script>

    <div class="post container justify-content-center col-lg-6">

    {% include header.html %}
    <div class="text-center">
    <img src="{{ site.url }}/assets/images/{{ page.thumbnail }}" alt="" class="img-fluid">
    </div>
    <h1>{{ page.title }}</h1>
    <h4>{{ page.date | date_to_long_string }}</h4>
    <!-- <div class="justify-content-center col-lg-6"> -->
      {{ content }}
    <!-- </div> -->

    {% include scripts.html %}

    <div id="push">
    </div>

    <!-- {% include footer.html %} -->

    </div>


  </body>

</html>
